VITE_SUPABASE_URL=https://ayszwpuythfoojlfgnie.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5c3p3cHV5dGhmb29qbGZnbmllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NDMwMzgsImV4cCI6MjA4ODExOTAzOH0.IBor9z3tl97QTvdMrgTKcEN_8pJJCdDvRnPJGpRz0uE
